@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


.container {
  align-items: center;
}
.pool-stack{
  
  width:30rem;
  align-self: start;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  aspect-ratio: 5 / 2;
}





body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


